<div class="page-header" ng-controller="PostsCtrl">
  <a href="/#/home">back</a>
    <div ng-class="{completed: post.completed, editing: post === $scope.editedPost}">
      <h3>
        <a ng-show="post.link" href="{{post.link}}">{{post.title}}</a>
        <span ng-hide="post.link" ng-dblclick="$scope.editPost(post)">{{post.title}}</span>
      </h3>
      <form ng-submit="$scope.doneEditing(post, $index)">
                  <input class="edit" 
                    ng-trim="false" 
                    ng-model="post.title" 
                    ng-blur="$scope.doneEditing(post, $index)" 
                    ng-keydown="($event.keyCode === $scope.ESCAPE_KEY) && $scope.revertEditing($index)" 
                    todo-focus="post === $scope.editedPost">
      </form>
    </div>
</div>

<div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
  <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(comment)"></span>

  {{comment.upvotes}} - by {{comment.author}}

  <span class="comment-body">{{comment.body}}</span>
</div>

<form ng-submit="addComment()">
  <h3>Add a new comment</h3>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Comment" ng-model="body"></input>
  </div>

  <button type="submit" class="btn btn-primary">Post</button>
</form>